.whole-page {
    background-color: #DA2335;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    max-height: 0%;
    padding: 0 0 10% 0;
}
