
.progress-div {
    background-color: yellow;
    border-radius: 1em;
    display: flex;

}

.progress {
    background-color: rgb(62, 122, 235);
    height: 12em;
    border-radius: 1em;
    border: 1em solid rgb(62, 122, 235);;
    transition: 2s ease;
    transition-delay: 1s;
    display: flex;
    flex-direction: column;
  }

  .whole-termo{
      max-width: 20em;
  }

  .ammount-raised{
      font-weight: bolder;
      font-size: x-large;
      color: white;
      margin-left: 3rem;
      
  }
  
  .raised-Label{
      color: white;
      font-size: large;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 2rem;
  }