
.userListUser {
    display: flex;
    align-items: center;
}
.gridHeader{
    background-color: rgba(255,50,60,255);
    color: white;
    font-weight: bolder;
    font-size: x-large;
}
  
.userListImg {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border-width: 2px;
    object-fit: cover;
    margin-right: 10px;
    overflow: hidden
}

.crownImg {
    width: 16px;
    height: 8px;
    border-radius: 50%;
    border-width: 2px;
    object-fit: cover;
    margin-right: 10px;
   
}

.leaderHeading {
    margin-bottom: 10px;
}


.rankData {
    margin-right: 10px;
    font-weight: bolder;
    font-size: large;
}

.amountRaised {
    width: 100%;
    align-items: center;
}

.dataGrid{
    
    align-items: center;
    height: 600px;
    width: 75%;
    margin-left: 10%;
    margin-top: 2% 
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-leader{
    margin-left: 9%;
    margin-right: 80%;
    margin-bottom: 3%;
    object-fit: cover;
  }
