
.userListUser {
    display: flex;
    align-items: center;
}
.gridHeader{
    background-color: #DA2335;
    color: white;
    font-weight: bolder;
    font-size: x-large;
}
  
.userListImg {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border-width: 2px;
    object-fit: cover;
    margin-right: 10px;
    overflow: hidden
}

.crownImg {
    width: 16px;
    height: 8px;
    border-radius: 50%;
    border-width: 2px;
    object-fit: cover;
    margin-right: 10px;
   
}

.bg-progress{
    background-color: #DA2335!important;
  }

.leaderHeading {
    margin-bottom: 10px;
    font-weight: bolder;
    
}


.rankData {
    margin-right: 10px;
    font-weight: bolder;
    font-size: large;
}

.amountRaised {
    width: 100%;
    align-items: center;
}

.dataGrid{
    
    align-items: center;
    height: 600px;
    width: 75%;
    margin-left: 10%;
    margin-top: 2% 
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .gold-img::before{
    content: url(../img/gold-crown.png); 
    margin-left: -25px;
    margin-top: -100px;
    margin-bottom: -35px;
    margin-right: -50px;
    transform: scale(0.3);
    max-height: 4px;
  }

  .gold-img{
    margin-left: 16px;

  }


  .silver-img::before{
    content: url(../img/silver-crown.png); 
    margin-left: -25px;
    margin-top: -100px;
    margin-bottom: -35px;
    margin-right: -50px;
    transform: scale(0.3);
    max-height: 4px;
  }

  .silver-img{
    margin-left: 16px;
}


  .brown-img::before{
    content: url(../img/bronze-crown.png); 
    margin-left: -25px;
    margin-top: -100px;
    margin-bottom: -35px;
    margin-right: -50px;
    transform: scale(0.3);
    max-height: 4px;
  
  }

  .brown-img{
      margin-left: 16px;
  }


.logo-leader{
    margin-left: 9%;
    margin-right: 80%;
    margin-bottom: 3%;
    object-fit: cover;

  }


