
.userListUser {
    display: flex;
    align-items: center;
}
.gridHeader{
    background-color: rgba(255,50,60,255);
    color: white;
    font-weight: bolder;
    font-size: x-large;
}
  
.userListImg {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border-width: 2px;
    object-fit: cover;
    margin-right: 10px;
    overflow: hidden
}

.crownImg {
    width: 16px;
    height: 8px;
    border-radius: 50%;
    border-width: 2px;
    object-fit: cover;
    margin-right: 10px;
   
}

.leaderHeading {
    margin-bottom: 10px;
}


.rankData {
    margin-right: 10px;
    font-weight: bolder;
    font-size: large;
}

.amountRaised {
    width: 100%;
    align-items: center;
}

.dataGrid{
    
    align-items: center;
    height: 600px;
    width: 75%;
    margin-left: 10%;
    margin-top: 2% 
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .gold-img::before{
    content: url(../img/gold-crown.png); 
    margin-left: -45px;
    margin-top: -90px;
    margin-bottom: -50px;
    margin-right: -70px;
    transform: scale(0.2);
  }

  .gold-img{
      margin-top: 2px;
      margin-left: 25px;
  }


  .silver-img::before{
    content: url(../img/silver2.png); 
    margin-left: -3px;
    margin-top: -90px;
    margin-bottom: -30px;
    margin-right: -32px;
    transform: scale(0.8);
    max-height: 4px;
  }

  .silver-img{
      margin-left: 13px;
  }


  .brown-img::before{
    content: url(../img/brown-crown.png); 
    margin-left: -25px;
    margin-top: -90px;
    margin-bottom: -35px;
    margin-right: -50px;
    transform: scale(0.3);
    max-height: 4px;
  
  }

  .brown-img{
      margin-left: 15px;


.logo-leader{
    margin-left: 9%;
    margin-right: 80%;
    margin-bottom: 3%;
    object-fit: cover;

  }
